* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.app {
  background-color: #080e1c;
  display: flex;
  flex-direction: column;
}

.cursor:hover {
  cursor: pointer;
}

/* Header Component Styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #080e1c;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
}
.header-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 4rem;
  color: #fff;
}
.header-navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-navigation a {
  font-size: 24px;
  color: grey;
}
a.active-link {
  color: #fff;
}
/* Header Component Styling */

/* Socials Component Styling */
.socials-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials {
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  font-size: 34px;
}
/* Socials Component Styling */

/* Hero Component Styling */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  /* background-color: pink; */
}
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
}
.section-title {
  font-size: 3.8rem;
  font-weight: bold;
  background: #ffffff;
  background: -webkit-linear-gradient(to right, #ffffff 0%, grey 75%);
  background: -moz-linear-gradient(to right, #ffffff 0%, grey 75%);
  background: linear-gradient(to right, #ffffff 0%, grey 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text {
  color: grey;
  font-size: 18px;
  line-height: 2rem;
  margin-top: 20px;
}
.hero-button {
  margin-top: 20px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}
.hero-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.hero-right {
  margin-left: -100px;
  width: 400px;
}
/* Hero Component Styling */

/* Section Component Styling */
.section-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: pink; */
}
.section-header {
  width: 800px;
  padding: 25px;
  /* background-color: pink; */
}
/* Section Component Styling */

/* Project Component Styling */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
}

/* Project Component Styling */

/* Card Component Styling */
.card-container {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  width: 350px;
  background-color: #080e1c;
  margin: 10px;
  /* box-shadow: rgba(227, 227, 227, 0.35) 0px 5px 15px; */
  box-shadow: rgba(227, 227, 227, 0.35) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card-image {
  height: 250px;
  width: 350px;
}
.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.card-name {
  color: #fff;
  align-self: center;
}
.card-text {
  color: grey;
  line-height: 1.6rem;
}
.card-tech-header {
  align-self: center;
  color: #fff;
}
.card-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-tech {
  color: #4776e6;
  margin: 5px;
}
.card-buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-button {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #8e54e9;
}

/* Card Component Styling */

/* Footer Component Styling */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.footer-contact {
  display: flex;
  border-top: rgba(227, 227, 227, 0.35) solid 1px;
  height: 120px;
  width: 800px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  height: 70px;
}
.footer-text {
  font-size: 1.2rem;
  color: grey;
}
.footer-juice {
  font-size: 1.4rem;
  color: #fff;
}
.footer-socials {
  align-self: flex-end;
  margin-bottom: 50px;
}
/* Footer Component Styling */
