* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

/* background-color: pink; */

.app {
  background-color: #080e1c;
  display: flex;
  flex-direction: column;
}
.cursor:hover {
  cursor: pointer;
}
/* Header Component Styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #080e1c;
  /* position: sticky;
  position: -webkit-sticky;
  top: -1px; */
}
.header-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 4rem;
  color: #fff;
}
.header-navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-navigation a {
  font-size: 24px;
  color: grey;
}
a.active-link {
  color: #fff;
}
/* Header Component Styling */

/* Socials Component Styling */
.socials-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials {
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  font-size: 34px;
}
/* Socials Component Styling */

/* Hero Component Styling */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
}
.section-title {
  font-size: 3rem;
  font-weight: bold;
  background: #ffffff;
  background-clip: text;
  background: -webkit-linear-gradient(to right, #ffffff 0%, grey 50%);
  background: -moz-linear-gradient(to right, #ffffff 0%, grey 50%);
  background: linear-gradient(to right, #ffffff 0%, grey 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text {
  color: grey;
  font-size: 18px;
  line-height: 2rem;
  margin-top: 20px;
}
.hero-button {
  margin-top: 20px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );
}
.hero-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.hero-right {
  margin-left: -100px;
  width: 400px;
}
/* Hero Component Styling */

/* Section Component Styling */
.section-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-header {
  width: 800px;
  padding: 25px;
}
/* Section Component Styling */

/* Project Component Styling */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1000px;
}

/* Project Component Styling */

/* Card Component Styling */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  background-color: #080e1c;
  margin: 10px;
  box-shadow: rgba(227, 227, 227, 0.35) 0px 5px 15px;
  /* box-shadow: rgba(227, 227, 227, 0.35) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}
.card-image {
  height: 250px;
  width: 350px;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.card-content-end {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.card-name {
  color: #fff;
  align-self: center;
}
.card-text {
  color: grey;
  line-height: 1.6rem;
}
.card-tech-header {
  align-self: center;
  color: #fff;
}
.card-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card-tech {
  color: #4776e6;
  margin: 2px;
}
.card-buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-button {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #8e54e9;
}
/* Card Component Styling */

/* Footer Component Styling */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 20px;
}
.footer-contact {
  display: flex;
  border-top: rgba(227, 227, 227, 0.35) solid 1px;
  width: 800px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  height: 70px;
}
.footer-text {
  font-size: 1rem;
  color: grey;
}
.footer-juice {
  font-size: 1.2rem;
  color: #fff;
}
.footer-socials {
  align-self: flex-end;
  margin-bottom: 50px;
}
/* Footer Component Styling */

/* Tech Component Styling */
.tech-container {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.tech-icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 20px;
}
.tech-icon {
  margin: 5px;
  border: #f8f5f40d;
  background-color: #f8f5f40d;
  padding: 20px;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.icon {
  font-size: 40px;
}
.tech-icon p {
  font-size: 12px;
  color: grey;
}
/* Tech Component Styling */

/* about Component Styling */
.about-container {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.about-achievement {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.achievement-container {
  display: flex;
  margin-top: 10px;
}
.achievement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f5f40d;
  margin: 10px;
  text-decoration: none;
  transition: all 0.8s ease;
}
.achievement:hover {
  transform: translate(0.35em, -0.35em);
}
.acheivement::before::after {
  content: "";
  padding: 20px;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  background-color: linear-gradient(to right, #4776e6 0%, #8e54e9 75%);
}
.achievement p {
  color: #fff;
}
.nucamp {
  background-clip: text;
  background: -webkit-linear-gradient(to right, #4776e6 0%, #8e54e9 50%);
  background: -moz-linear-gradient(to right, #4776e6 0%, #8e54e9 50%);
  background: linear-gradient(to right, #4776e6 0%, #8e54e9 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* about Component Styling */

/* Timeline Component Styling */
.timeline {
  display: flex;
  flex-direction: column;
}
.timeline-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 150px;
}
.timeline-item {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 270px;
  transition: all ease 0.4s;
  cursor: default;
}
.timeline-item p {
  color: #fff;
  font-size: 12px;
}
.timeline-arrows {
  position: relative;
  border-radius: 100%;
  background-color: #f8f5f40d;
  padding: 5px;
  font-size: 2rem;
  color: #fff;
}

.timeline-arrows:active {
  opacity: 0.6;
}

.prevItem {
  left: calc(0% + 2rem);
  opacity: 0;
}

.activeItem {
  left: 30%;
  transform: translateX(-30%);
}
.secondActiveItem {
  left: 70%;
  transform: translateX(-50%);
}

.nextItem {
  left: 100%;
  transform: translateX(calc(-100% - 2rem));
  opacity: 0;
}

/* Timeline Component Styling */
