.tech-container {
  @include flex(null, null, column);
  @extend .container;
}
.tech-icon-container {
  @include flex (center, flex-start, row);
  @extend .container;
  @include lg {
    justify-content: center;
  }
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
.tech-icon {
  @include flex(center, center, column);
  margin: 5px;
  border: $mobile;
  background-color: $mobile;
  padding: 20px;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  p {
    font-size: 12px;
    color: $grey;
  }
}